<main class="album py-2 bg-light"> 
    <div class="container">
        <div class="row">
            <div class="row m-1 mb-3">
                <div class="col-4">
                    <h4>Pokemones</h4>
                </div>
                {{#if hasRegion}}
                <div class="col-7 ms-5">
                    <form class="form-control bg-light border-0" method="post" action="/">
                        <div class="input-group ">
                            <input class="form-control border border-1 border-primary" id="name" name="Name"  type="text" placeholder="nombre de pokemon"/>                            
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Seleccionar Región</button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                {{#each region as |item|}}                             
                                    <div class="form-check ms-3 mb-2">
                                        <li >
                                            <input class="form-check-input" value="{{item.id}}" type="radio" name="RegionId"
                                                id="{{item.id}}">
                                            <label class="form-check-label" for="{{item.id}}">
                                                {{item.name}}
                                            </label>
                                        </li>  
                                    </div>
                                {{/each}}                                                              
                            </ul>                              
                            <button class="btn btn-primary" type="submit">Buscar</button>                        
                        </div>
                    </form>
                </div>
            </div>
        {{/if}}
      {{#if hasPokemon}}              
        {{#each pokemon as |item|}}
            <div class="card col-md-3 me-3">
                <div class="card-body">
                    <img src="{{item.ImgaUrl}}" class="card-img-top" alt="{{item.name}}" >
                    <h5 class="card-title mt-2">{{item.name}}</h5>                    
                    <p class="card-text">
                        <div class="bd-highlight d-flex flex-row gap-1">
                            <div><h6 class="card-subtitle text-muted">{{item.pokemonType.dataValues.name}}</h6></div>
                            <div><h6 class="card-subtitle text-muted"> - </h6></div>
                            <div><h6 class="card-subtitle text-muted">{{item.region.dataValues.name}}</h6></div>
                        </div>
                    </p>                    
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="alert alert-warning" role="alert">
            <div class="row">
                <div class="col-12 mx-auto">
                    No se ha encontrado ningún Pokémon.
                </div>               
            </div>   
            <div class="row">
                <img style="width:auto; height:20em; " class="img-fluid mx-auto" src="https://mackmediagroup.com/wp-content/uploads/2018/01/web-design.png" alt='RegionsNotFound'/>
            </div>
        </div>
    {{/if}}
    </div>
  </div>
</main>