<main class="m-4">
    {{#if hasRegion}}
    <div class="row mx-auto">
        <div class="col-6">
            <h4>Regiones</h4>
        </div>
        <div class="col-6 text-end">
                <a type="button" class="btn btn-primary btn-sm" href="/regiones/crearRegion">
                Agregar Región
            </a>
        </di>        
    </div>
    <div class="row mt-3 ">
        <div class="col-12">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each region as |item|}}
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.name}}</td>
                        <td class="d-flex  gap-1">
                            <a href="/regiones/editarRegion/{{item.id}}?edit=true" class="btn btn-outline-warning btn-sm">
                                Editar
                            </a>
                            <a href="/regiones/eliminarRegion/{{item.id}}?delete=true" class="btn btn-outline-danger btn-sm">
                                Eliminar
                            </a>
                        </td>
                    </tr>     
                    {{/each}}                                              
                </tbody>
            </table>
        </div>
    </div>
    {{else}}
        <div class="alert alert-warning" role="alert">
            <div class="row">
                <div class="col-6 mx-auto">
                    Todavía no has creado ninguna región.
                </div>
                <div class="col-6 text-end">
                     <a type="button" class="btn btn-primary btn-sm" href="/regiones/crearRegion">
                        Agregar Región
                    </a>
                </div>
            </div>   
            <div class="row">
                <img style="width:auto; height:20em; " class="img-fluid mx-auto" src="https://mackmediagroup.com/wp-content/uploads/2018/01/web-design.png" alt='RegionsNotFound'/>
            </div>
        </div>
    {{/if}}
</main>